<nav class="navbar">
  <img src="/assets/images/header_image/logo2.png" alt="logo-ks" class="navbar__logo" />
  <ul class="navbar__links">
        <li class="navbar_item">
            <a class="navbar__link" href="/">Home</a>
        </li>
        <li class="navbar_item">
            <a class="navbar__link" href="/curriculum">Kurikulum</a>
        </li>
        <li class="navbar_item">
            <a class="navbar__link" href="/events">Event</a>
        </li>
        <li class="navbar_item">
            <a class="navbar__link" href="/articles">Blog</a>
        </li>
        <li class="navbar_item">
            <a class="navbar__link" href="/collections">Gallery</a>
        </li>
  </ul>

  <button class="navbar__hamburger">
      <div class="navbar__line"></div>
      <div class="navbar__line"></div>
      <div class="navbar__line"></div>
  </button>
</nav>

<ul class="navbar__links2">
    <li class="navbar_item2">
        <a class="navbar__link" href="/">Home</a>
    </li>
    <li class="navbar_item2">
        <a class="navbar__link" href="/curriculum">Kurikulum</a>
    </li>
    <li class="navbar_item2">
        <a class="navbar__link" href="/events">Event</a>
    </li>
    <li class="navbar_item2">
        <a class="navbar__link" href="/articles">Blog</a>
    </li>
    <li class="navbar_item2">
        <a class="navbar__link" href="/collections">Gallery</a>
    </li>
</ul>