<nav class="navbar">
  <img src="/assets/images/header_image/logo2.png" alt="logo-ks" class="navbar__logo" />
  <ul class="navbar__links">
        <li class="navbar__item">
            <a class="navbar__link" href="/">Beranda</a>
        </li>
        <li class="navbar__item navbar__dropdown">
            <button class="navbar__dropdownTrigger">Kurikulum <i class="arrow down"></i></button>
            <div class="navbar__dropdownContent">
                <a class="navbar__dropdownItem" href="/odd_curriculum">Semester Genap (Dasar)</a>
                <a class="navbar__dropdownItem" href="/even_curriculum">Semester Ganjil (Lanjutan)</a>
                <a class="navbar__dropdownItem" href="/ebook">Ebook</a>
            </div>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="/events">Acara</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="/articles">Artikel</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" href="/collections">Foto</a>
        </li>
  </ul>

  <button class="navbar__hamburger">
      <div class="navbar__line"></div>
      <div class="navbar__line"></div>
      <div class="navbar__line"></div>
  </button>
</nav>

<ul class="navbar__links2">
    <li class="navbar__item2">
        <a class="navbar__link" href="/">Beranda</a>
    </li>
    <li class="navbar__item2 navbar__dropdown">
        <button class="navbar__dropdownTrigger">Kurikulum <i class="arrow down"></i></button>
        <div class="navbar__dropdownContent">
            <a class="navbar__dropdownItem" href="/odd_curriculum">Semester Genap (Dasar)</a>
            <a class="navbar__dropdownItem" href="/even_curriculum">Semester  Ganjil (Lanjutan)</a>
            <a class="navbar__dropdownItem" href="/ebook">Ebook</a>
        </div>
    </li>
    <li class="navbar__item2">
        <a class="navbar__link" href="/events">Acara</a>
    </li>
    <li class="navbar__item2">
        <a class="navbar__link" href="/articles">Artikel</a>
    </li>
    <li class="navbar__item2">
        <a class="navbar__link" href="/collections">Foto</a>
    </li>
</ul>