<div>
    <div class="testimonial__imageContainer">
        <img class="testimonial__image coverImage" src="<%= testimonial.image %>" alt="<%= testimonial.name %>" />
    </div>
    <div class="testimonial">
        <div class="testimonial__detailsContainer">
            <p><%= testimonial.name %></p>
            <span class="quote">"</span>
            <p class="testimonial__details"><%= testimonial.details %></p>
        </div>
    </div>
</div>