<%- include('partials/header') %>

    <div class="event-page">
        <div class="container">
            <%- include('partials/nav') %>

            <div class="pt-5">
                <%- include('./partials/table', { caption: "Our Upcoming Events", columns: ["id", "title", "details", "date", "image", "link"], rows: upcomingEvents }) %>
            </div>
        </div>
    </div>

<%- include('partials/script') %>