<%- include('admin/function') %>

<%- include('partials/header', {user: "user"}) %>

<div class="curriculumPage bg--blue">
    <div class="container">
        <%- include('partials/nav') %>
        <div style="height: 70vh; display: flex; align-items: center; justify-content: center;">
            <h3 class="underConstruction">Under Construction...</h3>
        </div>
    </div>
</div>

<%- include('partials/script') %>