/* Dashboard */
.adminDashboard__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.adminDashboard__logout {
    display: flex;
    align-items: center;
}

.adminDashboard__logout a {
    margin-right: 12px;
}

.select {
    background-color: transparent;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 16px;
}

.select option {
    color: #000;
    font-size: 16px;
}

.hideTable {
    display: none;
}

/* Edit and Add */
.adminForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adminForm__form {
    width: 75%;
    margin: 40px auto;
}

.adminForm h1 {
    margin-bottom: 20px;
}

.adminForm__content {
    margin-bottom: 32px;
}

.d-none {
    display: none;
}

.cancelBtn {
    display: inline-block;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .adminForm__form {
        width: 85%;
    }
}

@media screen and (max-width: 639px) {
    .adminForm__form {
        width: 90%;
    }
}