/* landing-page */
.landingPage {
    background-image: url('../images/header_image/header.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

.landingPage__container {
    height: 100% !important;
}

.landingPage * {
    color: #fff !important;
}

.landingPage__filter {
    background-color: rgba(43, 42, 42, .8);
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.landingPage__headingContainer {
    display: table;
    height: calc(100vh - 132px);
    width: 70%;
    position: relative;
    z-index: 2;
}

.landingPage__headingList {
    display: table-cell !important;
    vertical-align: middle;
}

.landingPage__headingList h1, .landingPage__headingList h5 {
    margin-bottom: 5%;
}

.landingPage__headingList h1 {
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
    border-left: 5px solid #FFAD08;
}

.landingPage__headingList h5 {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5;
}

@media screen and (max-width: 767px) {
    .landingPage {
        min-height: 600px;
    }

    .landingPage__headingContainer {
        height: calc(600px - 132px);
    }

    .landingPage__headingList h1 {
        font-size: 3rem;
    }
}

section {
    margin-top: 80px !important;
}

section h3 {
    font-weight: 700;
    font-size: 2.25rem;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

section h3:nth-child(1) {
    margin-bottom: 60px;
}

section h3:nth-child(1)::before, section h3:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    background-color: #FFAD08;
    bottom: 0;
}

section h3:nth-child(2)::before {
    right: 0;
}

@media screen and (max-width: 767px) {
    section h3 {
        font-size: 1.875rem;
    }
}

/* About us */
.aboutUs__heading, .latestEvent__header {
    margin-bottom: 12px !important;
}

.ugm {
    margin-bottom: 60px;
}

.aboutUs p, .latestEvent p {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    font-size: 16px;
}

.aboutUs__statistic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutUs__statistic div {
    color: #fff;
    text-align: center;
    background-color: #4E3D42;
    border-radius: 50%;
    padding: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutUs__statistic img {
    width: auto;
    height: 50.44px;
    margin: 0 auto;
}

.aboutUs__statistic h4 {
    font-weight: 600;
    font-size: 24px;
}

.aboutUs__statistic h5 {
    font-weight: 600;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .aboutUs__statistic div {
        padding: 20px;
        width: 150px;
        height: 150px;
    }

    .aboutUs__statistic h4 {
        font-size: 20px;
    }

    .aboutUs__statistic h5 {
        font-size: 18px;
    }
}

@media screen and (max-width: 639px) {
    .aboutUs__statistic {
        justify-content: space-around;
    }
}

@media screen and (max-width: 489px) {
    .aboutUs__statistic div:nth-child(3), .aboutUs__statistic div:nth-child(4) {
        margin-top: 20px;
    }
}

/* curriculum */
.curriculum__img {
    width: 100%;
    height: auto;
}

/* Latest event */
.latestEvent__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latestEvent__list iframe {
    width: 48%;
    height: 300px;
}

/* Upcoming Event */
.upcomingEvents {
    position: relative;
    overflow: hidden;
}

.upcomingEvents__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.upcomingEvents__list {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.upcomingEvents__leftControl, .upcomingEvents__rightControl{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 48%;
    cursor: pointer;
    z-index: 2;
}

.upcomingEvents__rightControl{
    right: 0%;
}

.upcomingEvents__leftControl {
    left: 0%;
}

.upcomingEvents__event {
    height: 500px;
    display: inline-block;
    transition: .3s left ease-in, .3s transform ease-in, .5s opacity ease-in-out;
    cursor: pointer;
}

.active-event {
    position: relative;
    width: 70%;
    left: 15%;
    transform: scale(1);
    z-index: 2;
}

.prev, .next {
    width: 70%;
    opacity: .2;
    position: absolute;
    transform: scale(.9);
    cursor: pointer
}

.hidden-event {
    position: absolute;
    left: 15%;
    opacity: 0;
}

.prev {
    left: 0;
}

.next {
    left: 30%;
}

.upcomingEvents__img {
    height: auto;
    width: 100%;
}

.upcomingEvents__detailContainer {
    text-align: center;
    padding-bottom: 8px;
}

.upcomingEvents__title {
    font-size: 24px;
    font-weight: 600;
}

.upcomingEvents__date {
    color: #808080;
    font-size: 16px;
    margin-bottom: 20px;
}

.upcomingEvents__detail {
    font-size: 20px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 32px;
}

/* Artikel */
.articles__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.articles__article {
    width: calc(100% / 3);
    border-radius: 20px;
    padding: 0 !important;
    position: relative;
    border: 2px solid #d3d3d3;
    overflow: hidden;
}

.articles__article img {
    height: 200px;
    width: 100%;
}

.articles__article:nth-child(1), .articles__article:nth-child(2) {
    margin-right: 10px;
}

.articles__body {
    padding: 20px;
}

.article__title {
    font-weight: bold;
    margin-bottom: 12px !important;
    font-size: 20px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.articles__detail {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 20px !important;
}

.articles__detail *:not(:first-child) {
    display: none;
}

.articles__button {
    position: absolute;
    bottom: 3%;
}

.articles__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #d3d3d3;
}

.articles__footer a {
    font-weight: bold;
    color: rgb(14, 53, 172);
}

@media screen and (max-width: 767px) {
    .articles__container {
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
    }
}

/* Testimonial */
.testimonial__imageContainer {
    margin: 0 auto -20px;
    width: fit-content;
    position: relative;
    z-index: 10;
    overflow: hidden;
    padding: 8px;
    background-color: #fff;
    border-radius: 100%;
}

.testimonial__image {
    width: 80px !important;
    height: 80px !important;
    border-radius: 100%;
    margin: 0 auto;
}

.testimonial {
    background-color: #4E3D42;
    border-radius: 20px;
    color: #fff;
    padding: 20px;
    margin-right: 8px;
}

.testimonial__detailsContainer {
    padding: 20px 8px;
    font-weight: bold;
    text-align: center;
}

.quote {
    font-size: 32px;
    background-color: #fff;
    color: #4E3D42;
    width: fit-content;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-block;
    margin: 20px auto;
}


.testimonial__details {
    font-size: 18px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Meet The Founder */
.review {
    background-color: #4E3D42;
    height: 400px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.review__imageContainer {
    width: fit-content;
    border-radius: 50%;
    margin-right: 40px;
    display: block;
    padding: 8px;
    background-color: #fff;
}

.review__image {
    object-position: center !important;
    object-fit: cover !important;
    width: 150px !important;
    height: 150px;
    border-radius: 50%;
}

.review__contentContainer {
    width: calc(100%*2/3);
}

.review__content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}

@media screen and (max-width: 767px) {
    .review {
        text-align: center;
        flex-direction: column-reverse;
        padding: 20px;
    }

    .review__imageContainer {
        margin-right: 0;
        margin-top: 20px;
    }

    .review__image {
        width: 100px !important;
        height: 100px;
    }
}

/* Let's collaborate */
.collaborate__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}

.collaborate__media {
    text-align: center;
    width: calc(100% / 3);
}

.collaborate__media h4 {
    font-weight: bold;
    font-size: 24px;
}

.collaborate__link {
    color: #FFAD08;
    font-size: 20px;
    display: inline-block;
    margin: 20px 20px 20px 0;
}

.collaborate__media h5 {
    font-weight: bold;
    font-size: 20px;
}

.collaborate__media p {
    margin-top: 20px;
}

.collaborate__media small {
    margin-top: 20px;
    display: block;
}

.collaborate__madeWith {
    display: none;
} 

.collaborate__submit {
    border-radius: 50px;
    background-color: #FFAD08;
    background-position: center;
    transition: background 0.8s;
}

.collaborate__submit:hover, .collaborate__submit:focus {
    background: #FFAD08 radial-gradient(circle, transparent 1%, #FFAD08 1%) center/15000%;
}

.collaborate__submit:active {
    background-color: #f0d803 !important;
    background-size: 100%;
    transition: background 0s;
}

.collaborate__form {
    width: calc(100% / 3);
}

@media screen and (max-width: 767px) {
    .collaborate__container {
        padding-bottom: 0;
    }

    .collaborate div {
        flex-direction: column-reverse;
    }

    .collaborate__media {
        height: fit-content;
        background-color: #4E3D42;
        color: #FFAD08;
        width: 100vw;
        padding: 20px 0;
        margin-top: 40px;
    }

    .collaborate__madeWith {
        display: block;
    } 

    .collaborate__form {
        width: calc(100% * 3 / 4);
    }
}

@media screen and (max-width: 767px) {
    .collaborate__form {
        width: calc(100% * 11 / 12);
    }
}

/* Login */
.login, .forgot {
    height: 100vh;
    background: #0F2027;
    background-image: linear-gradient(to right top, rgba(43, 45, 66, .95), rgba(49, 63, 90, .9), rgba(50, 82, 113, .9), rgba(46, 103, 136, .85), rgba(34, 124, 157, .85));
    display: flex;
    justify-content: center;
    align-items: center;
}

.login *, .forgot * {
    color: #fff;
}

.login__container, .forgot__container {
    width: 25%;
}

.login__header, .forgot__header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.login__button, .forgot__button {
    margin-bottom: 20px;
}

@media screen and (max-width: 1023px) {
    .login__container, .forgot__container {
        width: 33%;
    }
}

@media screen and (max-width: 767px) {
    .login__container, .forgot__container {
        width: 50%;
    }
}

@media screen and (max-width: 639px) {
    .login__container, .forgot__container {
        width: 75%;
    }
}

@media screen and (max-width: 991px) {
    .heading-container, .aboutUs p, .latestEvent p {
        width: 80%;
    }

    .statistic div {
        width: 150px;
        height: 150px;
    }

    .latestEvent__list  {
        justify-content: flex-start;
        flex-direction: column;
    }

    .latestEvent__list iframe {
        width: 80%;
        height: 350px;
        margin: 0 auto;
    }

    .latestEvent__list iframe:not(:last-child) {
        margin: 0 auto 20px;
    }

    .event {
        margin-bottom: 20px;
    }

    .upcomingEvents__event {
        height: 400px;
    }
}

@media screen and (max-width: 767px) {

    .landing-page, .filter {
        min-height: 600px;
    }

    .heading-container{
        width: 90%;
        height: calc(600px - 65.8px);
    }

    .aboutUs p, .latestEvent p {
        width: 90%;
        font-size: 14px;
    }

    .statistic div:not(:last-child) {
        margin-bottom: 20px;
    }

    .statistic div:nth-child(4) {
        margin-bottom: 0;
    }

    .latestEvent__list iframe {
        width: 90%;
        height: 280px !important;
    }

    .event {
        width: 50%;
        height: auto;
    }

    .event:not(:last-child) {
        margin-bottom: 20px;
    }

    .articles__article {
        width: 100%;
        height: fit-content !important;
    }

    .articles__article p {
        font-size: 14px;
    }

    .articles__button {
        position: unset;
    }

    .articles__article:not(:last-child) {
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .founder img {
        width: 100px !important;
        height: 100px;
    }

    .founder h4 {
        font-size: 1.8rem;
        width: 90%;
        margin: 20px auto;
    }

    .collaborate {
        padding-bottom: 0 !important;
    }

    .form {
        margin: 0 auto 60px;
        
    }

    .ks-media {
        width: 100vw;
        height: fit-content;
        background-color: #4E3D42;
        color: #FFAD08;
        padding: 20px 0;
    }
}

@media screen and (max-width: 575px) {
    .aboutUs p, .latestEvent p {
        width: 100%;
    }

    .statistic div:nth-child(3) {
        margin-bottom: 0 !important;
    }

    .latestEvent__list iframe {
        width: 100%;
        height: 250px;
    }

    .upcomingEvents__leftControl, .upcomingEvents__rightControl{
        display: none;
    }

    .upcomingEvents__event {
        height: 200px;
    }

    .active-event {
        width: 90%;
        left: 5%;
    }

    .upcomingEvents__title {
        font-size: 20px;
    }
    
    .upcomingEvents__date {
        font-size: 12px;
    }
    
    .upcomingEvents__detail {
        font-size: 16px;
    }
}

