ul, ol {
    list-style-position: inside !important;
}

ul {
    list-style-type: disc !important;
    text-align: left !important;
}

ol {
    list-style-type: decimal !important;
}

li {
    display: list-item !important;
    padding: 12px 12px 0;
}

span {
    color: #fff !important;
}

/* Article3 and Upcoming Event */
.article3__imageContainer, .upcomingEvent__imageContainer {
    position: relative;
    margin-top: 40px;
}

.article3__image, .upcomingEvent__image {
    width: 100%;
    height: auto;
}

.article3__titleContainer, .upcomingEvent__titleContainer {
    background-color: rgba(43, 45, 66, .7);
    bottom: 0;
    width: 70%;
    left: 15%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    position: absolute;
    padding: 20px 40px;
}

.article3__titleContainer:hover , .upcomingEvent__titleContainer:hover {
    background-color: rgba(43, 45, 66, .9);
}

.article3__title, .article3__title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

.article3__titleContainer p , .upcomingEvent__titleContainer p {
    margin-top: 8px;
}

.article3__fullDetailsContainer, .upcomingEvent__fullDetailsContainer {
    margin: 0 auto;
    width: calc(100%*4/5);
}

.article3__fullDetails, .upcomingEvent__fullDetails {
    margin: 32px 0;
}

.article3__fullDetails img, .upcomingEvent__fullDetails img {
    display: block;
    margin: 0 auto;
    width: 100% !important;
    height: auto !important;
}

@media screen and (max-width: 767px) {
    .article3__image, .upcomingEvent__image {
        min-height: 300px;
        object-position: center !important;
        object-fit: cover !important;
    }

    .article3__titleContainer, .upcomingEvent__titleContainer {
        width: 100%;
        left: 0;
        padding: 8px 20px;
    }

    .article3__fullDetailsContainer, .upcomingEvent__fullDetailsContainer {
        width: 100%;
    }
}

@media screen and (max-width: 639px) {
    .article3__title, .upcomingEvent__title {
        font-size: 20px;
    }

    .article3__titleContainer p, .upcomingEvent__titleContainer p {
        font-size: 14px;
    }
}

/* Event */
.event-image {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.register-now {
    margin-top: 40px;
    text-align: center;
}

.register-now a{
    font-weight: bold;
    font-size: 20px;
}

.partner {
    background-color: #FFAD08;
}

.partner * {
    color: #000 !important;
}

.partner i {
    width: 19px;
    height: 19px;
}

.event-iframe {
    margin: 20px 0;
}

.event-iframe p {
    font-size: 16px;
}

.event-iframe iframe {
    display: block;
    margin: 24px auto;
    width: 48%;
}

/* Article2 */
.article2 {
    display: flex;
    justify-content: center;
}

.article2:nth-child(1) {
    padding-bottom: 40px;
}

.article2:not(:first-child) {
    border-top: 2px solid #d3d3d3;
    padding: 40px 0;
}

.article2__image {
    width: calc(100%/3);
    margin-right: 20px;
}

.article2__info {
    width: calc(100%*2/3);
}

.article2__info h3 {
    font-size: 24px;
    font-weight: bold;
}

.article2__info small {
    display: inline-block;
    margin-bottom: 12px;
}

.article2__fullDetails *:not(:first-child) {
    display: none;
}

.article2__fullDetails {
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.article2__fullDetails p span span span, .article3__fullDetails p span span span {
    color: inherit !important;
    font-size: 16px;
}

.article2__info a {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .article2 {
        flex-direction: column;
    }

    .article2__image {
        width: 100%;
        margin-right: 0;
    }

    .article2__info {
        width: 100%;
    }
}

/* Table */

.table-container th:nth-child(1) {
    min-width: 500px;
}

.table-container th:nth-last-child(1) {
    min-width: 150px;
}

@media screen and (max-width: 991px) {
    .event-iframe iframe {
        width: 80%;
    }

    .article-date {
        display: none;
    }

    .small-article-date {
        display: block;
    }

    .article-container, .article-container img, .article-container div {
        padding-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .event-iframe iframe {
        width: 90%;
    }
}

@media screen and (max-width: 575px) {
    .table-container th:nth-child(1) {
        min-width: 200px;
        width: 200px;
    }

    .event-iframe iframe {
        width: 100%;
    }
}

/* Collections */
.collections, .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.collection {
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    padding: 16px 24px;
    font-size: 16px;
    color: #fff;
    margin-right: 20px;
}

.gallery__imageContainer {
    width: 30%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

.gallery__image {
    min-width: 100%;
}

@media screen and (max-width: 991px) {
    .gallery__imageContainer {
        width: 49%;
    }
}

@media screen and (max-width: 767px) {
    .collections, .gallery {
        justify-content: center;
    }

    .gallery__imageContainer {
        width: 70%;
    }
}

@media screen and (max-width: 575px) {
    .gallery__imageContainer {
        width: 90%;
    }
}

/* Odd Curriculum */
.underConstruction {
    font-size: 30px;
    text-align: center;
    /* margin-top: 100px; */
}